{% extends 'polls/base.html' %}

{% block content %}
    <p>
        <h3>List of {{title}}</h3>
    </p>

    <div class="table-responsive-sm">
        {% if questions %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Poll</th>
                    </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">
                            <a class="list-group-item" href="{% url 'polls_details' question.id%}" >{{question.title }} </a>
                        </th>

                    </tr>
                {% endfor %}
                </tbody>
                </table>
        {% else %}
            <p>There is no question available.</p>
        {% endif %}
    </div>
{% endblock content %}